// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin transit($speed){
    -webkit-transition:all $speed ease-in-out;
    -moz-transition:all $speed ease-in-out;
    -o-transition:all $speed ease-in-out;
    transition:all $speed ease-in-out;
}
body {
    background-color: $body-bg;
}
a:hover {
    @include transit(300ms);
}
.btn {
    @include transit(300ms);
}
.btn-primary {
    border: 1px solid #227DC7;
    background-color: #fff;
    color: #227DC7;
}
.btn-primary:hover {
    border: 1px solid #fff;
    background-color: #227DC7;
    color: #fff;
}
.btn-secondary:hover {
    background-color: #bbb;
    color: #000;
    border: 1px solid #fff;
}
form>.btn-primary {
    background-color: #fff;
    color: #227DC7;
}
.gradient-up {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(34,125,199,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(34,125,199,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(34,125,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#227dc7',GradientType=0 );
}
.gradient-down {
    background: rgb(34,125,199);
    background: -moz-linear-gradient(top,  rgba(34,125,199,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(34,125,199,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(34,125,199,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227dc7', endColorstr='#ffffff',GradientType=0 );
}
.shadow {
    text-shadow: 3px 3px 3px 1 #000;
}
.rounded {
    border-radius: 15px !important;
}
.sub-text {
    font-size: .8rem;
}
.border {
    border: 1px solid #ccc;
}
.text-shadow {
    text-shadow: $text-shadow;
}